.blog-header-logo{
    font-family: "Playfair Display", Georgia, "Times New Roman", serif;
    font-size: 2.25rem;
}
.mt-4-5 {
  margin-top: 2rem;
}
.mb-4-5 {
  margin-bottom: 2rem;
}
.mt-4-5 {
  margin-top: 2rem;
}
.btn-outline-light-brown {
  color: #F8F0EB;
  border-color: #E9D3C3;
}
.btn-outline-brown {
  color: #855431;
  border-color: #DAB59B ;
}
.btn-outline-light-brown:hover , .btn-outline-brown:hover{
  color: #261714;
  background-color: #F8F0EB;
  border-color: #F8F0EB;
}
.btn-brown {
  color: #FDFBFB;
  background-color: #4C4C47;
  border-color: #4C4C47;
}
.btn-brown:hover {
  color: #FDFBFB;
  background-color: #393936;
  border-color: #393936;
}
.bg-img{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.a-hidden{
    text-decoration: none;
    color: #000000;
}
.a-hidden:hover{
    text-decoration: none;
    color: #000000;
}
.cart-hover{
    filter: invert(94%) sepia(12%) saturate(828%) hue-rotate(313deg) brightness(99%) contrast(84%);
    transition: transform 0.1s ease-in-out;
    z-index: 1;
}
.cart-hover:hover{
    filter: invert(91%) sepia(1%) saturate(2263%) hue-rotate(326deg) brightness(106%) contrast(87%);
    transform: scale(1.05);
    z-index: 1;
}
.card-hover{
    transition: transform 0.2s ease-in-out;
}
.card-hover:hover{
    transform: scale(1.06);
}
.btn-money:hover{
    background-color: rgba(0,0,0,0.04);
}
.table-hover{
    transition: transform 0.15s ease-in-out;
}
.table-hover:hover{
    transform: scale(1.02);
}