{% extends 'main_base.html' %}
{% load i18n %}
{% load cache %}

{% cache cache_time history %}
    {% block body %}
        <div class="container">
            <div class="rounded-3 mt-5" style="background-color: #FDFBFB">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">{% trans "Date" %}</th>
                            <th scope="col">{% trans "Shop" %}</th>
                            <th scope="col">{% trans "Goods" %}</th>
                            <th scope="col">{% trans "Amount" %}</th>
                            <th scope="col">{% trans "Price" %}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for line in user_history %}
                            <tr class="table-hover">
                                <th>{{ line.date }}</th>
                                <td>{{ line.goods.shop.name }}</td>
                                <td>{{ line.goods.name }}</td>
                                <td>{{ line.amount }}</td>
                                <td>{{ line.total_price }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% endblock %}
{% endcache %}